.header
{
    background: #5f8dd3ff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo
{
    width: 72px;
}

.search-form
{
    background-color: #004455ff;
    border-radius: 5px;
    padding: 0px;
    padding-left: 0px;
}
.search-form .icon
{
    width: 25px;
}

.search-form  .form-group
{
    margin: 0px;
    padding: 0px;
    width: 100%;
} 

.btn.btn-blue
{
    background-color: #3771c8ff;
    color: #fff;
}

.search-form2
{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    
}
.search-form2 .icon
{
    width: 25px;
}

.search-form2  .form-group
{
    margin: 0px;
    padding: 0px;
    width: 100%;
} 

.search-form2 .form-control:hover,.search-form2 .form-control:focus
{
    outline: 0px;
    box-shadow: none;
    background-color: #fff;
}
.hide
{
    display: none;
}
.search-form .icon-container
{
    display: inline-block;
    padding: 12px;
    background-color: #3771c8ff;
}
.search-form2 .icon-container
{
    display: inline-block;
    padding: 12px;
   
}



  .search-form .form-control::-webkit-input-placeholder { /* Edge */
    color: rgb(255, 255, 255);
  }

  .search-form .form-control::-moz-placeholder  { /* Firefox */
    color: rgb(255, 255, 255);
  }

 
  
  .search-form .form-control::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
  
  .search-form .form-control::placeholder {
    color: rgb(255, 255, 255);
  }
.search-form .form-control:hover,.search-form .form-control:focus
{
    outline: 0px;
    box-shadow: none;
    background-color: #004455ff;
}
.list-inline li
{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
.list-inline li a
{
    position: relative;
}
.btn
{
    padding: 11px 10px;
}
.btn.btn-default
{
    background-color: #fff;
    
}
.chat-icon
{
    width: 24px;
    height: 24px;
}

.btn.btn-info,.btn.btn-info:hover,.btn.btn-info:focus
{
    background-color: #3771c8ff;
    border:1px #3771c8ff solid; 
    color: #fff;
    
}
.notifiable
{
    position: relative;
}
.notifications
{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;

}
.notifications .inner
{
    height: 300px;
    overflow: auto;
}
.notification
{
    background-color: #ff2a2aff;
    position: absolute;
    right: -15px;
    top: -10px;
    z-index: 9999;
    padding: 5px 10px;
    color: #fff;
    font-size: 11px;
    border-radius: 10px;

}

.notification-item .icon
{
    width: 25px;
    vertical-align: top;
    display: inline-block;
}
.notification-item p
{
    width: 70%;
    display: inline-block;
    margin: 0px;
}
.notification-item
{
    padding: 15px;
    margin: 15px;
    background-color: #fff;;
    border-radius: 5px;
    margin-bottom: 2px;
   

}
.btn.btn-primary    
{
    color:#fff;
}
.btn.btn-gray    
{
    background-color:#e6e6e6ff;
}
.btn-rounded
{
    border-radius: 25px;
}
.blue
{
    background-color: #aaeeffff;
}


.white
{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.gray
{
    background-color: #f2f2f2ff;
}
.dark
{
    color: #fff;
    background-color: #5f8dd3ff;
}
.nav.nav-list li
{
    display: block;
    float:none; 
    width: 100%;
    padding-left: 10px;
}

.nav.nav-list li a
{
    color: #fff;
}

.logo.left
{
    margin: 5px;
}

.padding-45
{
    padding-top: 58px;
    padding-bottom: 58px;
}

.list-inline li  a,
.list-inline li  a:hover,
.list-inline li  a:focus
{
    color:#333;
}

.slick-next,.slick-prev
{
    width: 25px;
    height: 45px;
}
.slick-next::before {
    background: url('../img/next.svg');
    background-size: 100%;
    content: ' ' !important;
    width: 25px;
    height: 45px;
    display: block;
    
}

.slick-prev::before {
    background: url('../img/prev.svg') ;
    background-size: 100%;
    content: '  ' !important;
    width: 25px;
    height: 45px;
    display: block;
}

.one-time 
{
    width: 80%;
    margin: 0 auto;
    margin-top: 45px;
}
.one-time .item
{
    width: 150px;
    height:  150px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #3771c8ff;
    color: #fff;
}
.one-time .item .icon
{
    width: 60%;
    display: block;
    margin: 0 auto;
}


@media (max-width: 471px) {
    .logo {
        margin: 0 auto;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .search-form
    {
        margin-bottom: 10px;
    }
    .search-form .form-control
    {
        background-color: #004455ff;
        border: 0px;
        width: 60%;
        display: inline-block;
        color: rgb(255, 255, 255);
    }
    .search-form2 .form-control
    {
        background-color: #fff;
        border: 0px;
        width:60%;
        display: inline-block;
        
    }
    .list-inline li 
    {
        padding-top: 5px;
    }
    .notifications
    {
        position: absolute;
        left: -150px;
        top: 55px;
        width: 290px;
        z-index: 9999;

    }
   }
   @media (min-width: 488px) {
    .logo {
        margin: 0 auto;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .search-form
    {
        margin-bottom: 10px;
    }
    .list-inline li 
    {
        padding-top: 5px;
    }
    .notifications
    {
        position: absolute;
        left: 0ox;
        top: 55px;
        width: 290px;
        z-index: 9999;

    }
    .search-form .form-control
    {
        background-color: #004455ff;
        border: 0px;
        width: 60%;
        display: inline-block;
        color: rgb(255, 255, 255);
    }
    .search-form2 .form-control
    {
        background-color: #fff;
        border: 0px;
        width: 95%;
        display: inline-block;
       
    }
    .left .search-form2 .form-control
    {
        background-color: #fff;
        border: 0px;
        width: 65%;
        display: inline-block;
       
    }
   }

   @media (min-width: 900px) {
    .logo {
        margin: 0 auto;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .list-inline li 
    {
        padding-top: 0px;
    }
 
    .search-form .form-control
    {
        background-color: #004455ff;
        border: 0px;
        width: 80%;
        color: rgb(255, 255, 255);
    }
    .notifications
    {
        position: absolute;
        left: 0ox;
        top: 55px;
        width: 290px;
        z-index: 9999;

    }
   }
    .products .item 
    {
        
    }
    .products .item a
    {
        display: block;
        padding: 15px;
    }
    .products .item  .background
    { 
        background-color: #e6e6e6ff;

        padding: 40% 50%;
    }
    .products .item:nth-child(even) .background
    {
        background-color: #ccccccff;
        
    }
    .title
    {
        font-weight: bold;
    }
    .separator
    {
        border-bottom: 1px solid #ccc;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.footer-extra .icon
{
  width: 40px;
  margin-right: 5px;
}
.footer-extra .icon2
{
    width: 20px;
    margin-right: 5px;
}
.footer-extra .list-inline li
{
    margin-right: 10px;
}
.footer-extra .list-inline li a span 
{
    padding: 10px;
    display: inline-block;
}
.padding-25
{
    padding-top: 10px;
}
.padding-10
{
    padding: 10px;
}

.rounded-5
{
    border-radius: 5px;
}

.selector li
{
    margin-bottom: 10px;
}

.category_info
{
    background-color: #004455ff;
    padding: 10px;
    border-radius: 10px;

    color:#fff;
}
.category_info .icon
{
    width: 42px;
}

.btn-info,.btn-white
{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    color:#333;
}
.btn-info span,.btn-white span
{
    margin-left: 10px;
    font-weight: bold;
}
.btn-info .icon,.btn-white .icon
{
    width: 42px;
}
.btn-info .action,.btn-white .action
{
    position: absolute;
    top: 40%;
    right:10px;
    width: 16px;
}
.rating .icon
{
    width: 10px !important;
    height: 10px !important;
}
.btn-white .left
{
    width: 60%;
    display: inline-block;
}
.btn-white .avatar
{
    position: relative;
    background-color: #ccc;
    padding: 12% 12%;
    display: inline-block;
    border-radius: 25px;
}

.btn-white .avatar .icon
{
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 45px !important;
    height: 45px !important;
}

.rating-comment .btn-white
{
 width: 250px;
}

.category_info_deta
{
    width: 75px;
    height:  75px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #3771c8ff;
    color: #fff;
    text-align: center;
}
.category_info_deta .icon
{
    margin: 0 auto;
    display: block;
    width: 60%;
}
.article_details .left
{
    width: 75px;
}
.article_details .left, .article_details .right
{
    display: inline-block;
    vertical-align: top;
}
.article_details .right
{
    padding: 10px;
}

.article_details .right .title
{
    font-size: 1.5em;
}

.one-time2 
{
    width: 100%;
    margin: 0 auto;

}
.one-time2 .item
{
    width: 100%;
    height:  400px;
    display: block;
    padding: 10px;
  
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    color: #333;
}
.one-time2 .item .icon
{
  height: 100%;
  display: block;
  margin:  0 auto;
}

.one-time2 .slick-prev,.one-time2 .slick-next
{
    
    width: 35px;
    height: 65px;
    background-color:#fff;
    z-index: 9999;
    padding: 10px;

    
}
.one-time2 .slick-prev:hover,.one-time2 .slick-next:hover
{
    background-color:#fff;
}
.one-time2 .slick-prev::before,.one-time2 .slick-next::before
{
    padding: 10px;
    width: 15px;
    height: 45px;
 
    display: inline-block;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;

}

.comment-form .form-group 
{
    width: 80%;

}
.comment-form .form-group  .form-control
{
    width: 97%;
    border:0px;
    border-radius: 10px;
    background-color: #ecececff;
}
.comment-item 
{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ecececff;
   
}
.comment-item .icon
{
    display: inline-block;
    vertical-align: top;
    width: 36px;
}

.comment-item .right
{
    display: inline-block;
    vertical-align: text-top;
    width: 95%;
}
.comment-item .report a 
{
    color:#333 !important;
    font-size: 12px;
}



.text-align-right
{
    text-align: right;
}

.category-listing a
{
    color: #333 !important;
}
.category-listing:nth-child(even)
{
    background-color: #ecececff;
}
.page-details
{
    background-color: #ecececff;
}

.registration
{
    background-color: #fff;
}

.registration .btn .icon
{
    width: 16px;
}

.registration .btn.btn-info
{
    background-color: #80e5ffff;
    border:1px #80e5ffff solid;
}
.login
{
    padding: 25px;
    width: 418px !important;
    margin: 0 auto;
}

.login .btn
{
    color:#fff;
}


.registration
{
    padding: 1px;
}
.registration .form-control
{
    border:1px solid  #ecececff;
    background-color: #ecececff;
    outline: 0px;
}
.registration .form-control:focus
{
    outline: 0px;
    box-shadow: none;
}
.login .nav.nav-tabs li
{ 

    width: 50%;
}

.login .nav.nav-tabs li a
{ 
    background-color: #ecececff;
   
}

.login .nav.nav-tabs li a.active
{
    background-color: #fff;
}
.login .nav.nav-tabs li a
{
    padding: 15px;;
    text-decoration: none;
    display: block;
    color:#333;
    width: 100%;
}
.login .nav.nav-tabs li a:hover
{
   color:#333;
}
.login a
{
    color:#000;
}
.bold
{
    font-weight: bold;
}
.header-search
{
    background: #214478ff;
    color: #fff;
}
.btn.btn-border
{
    display: inline-block;
    width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #214478ff;
}
.btn.btn-border-danger
{
    display: inline-block;
    width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #ff2a2aff;
}

.btn.btn-border:hover,.btn.btn-border:focus
{
    display: inline-block;
    width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    color:#fff !important;
    background-color: #214478ff;
    border:1px solid #214478ff;
}
.btn.btn-border-danger:hover,.btn.btn-border-danger:focus
{
    display: inline-block;
    width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    color:#fff !important;
    background-color: #ff2a2aff;
    border:1px solid #ff2a2aff;
}

.label-primary
{
    background-color:#214478ff;
    color: #fff;
    font-size: 11px;
    border-radius: 10px;
    padding: 3px 7px;
}

a.title
{
    color: #333;
}

.link,.link:hover,.link:focus
{
    text-decoration: none;
    color: #333;
}


.nav.nav-list.black li a
{
  color:#333 !important;
  cursor: pointer !important;
}
.nav.nav-list.black.border
{
    border: 0px  !important;
}
.nav.nav-list.black.border li 
{
    color:#333 !important;
    padding: 10px;
    border-radius: 10px;
    border:1px solid #ccc !important;
    float: none;
    margin-bottom: 10px;
}

.nav.nav-list.black.border li.active
{
    background-color:#333 !important;
    color:#fff !important;
    border:1px solid #ccc !important;
}

.nav.nav-list.black.border li.active a
{
    color:#fff !important;
}