

.hide
{
  display: none;
}


.header-navbar.navbar
{
    background-color: #fff;
    box-shadow: -8px 12px 18px 0 rgba(25,42,70,.13);
}

body
{
    background-color: rgb(243, 243, 243);
}

.white
{
    background-color: #fff;
}

.login-forn
{
    padding: 15px;
    margin-bottom: 10px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: absolute; /* Fixed/sticky position */
    bottom: -5px; /* Place the button at the bottom of the page */
    left: 45%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(209, 178, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }