.header
{
    background: #5f8dd3ff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo
{
    width: 72px;
}

.search-form
{
    background-color: #004455ff;
    border-radius: 5px;
    padding: 0px;
    padding-left: 0px;
}
.search-form .icon
{
    width: 25px;
}

.search-form  .form-group
{
    margin: 0px;
    padding: 0px;
    width: 100%;
} 

.small
{
    font-size: 12px;
}

.btn.btn-blue
{
    background-color: #3771c8ff;
    color: #fff;
}

.search-form2
{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    
}
.search-form2 .icon
{
    width: 25px;
}

.search-form2  .form-group
{
    margin: 0px;
    padding: 0px;

    width: 52%;

} 

.search-form2 .dropdown
{
    margin-right: 10px;
}

.search-form2 .form-control:hover,.search-form2 .form-control:focus
{
    outline: 0px;
    box-shadow: none;
    background-color: #fff;
}
.hide
{
    display: none;
}
.search-form .icon-container
{
    display: inline-block;
    padding: 12px;
    background-color: #3771c8ff;
}
.search-form2 .icon-container
{
    display: inline-block;
    padding: 12px;
   
}



  .search-form .form-control::-webkit-input-placeholder { /* Edge */
    color: rgb(255, 255, 255);
  }

  .search-form .form-control::-moz-placeholder  { /* Firefox */
    color: rgb(255, 255, 255);
  }

 
  
  .search-form .form-control::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
  
  .search-form .form-control::placeholder {
    color: rgb(255, 255, 255);
  }
.search-form .form-control:hover,.search-form .form-control:focus
{
    outline: 0px;
    box-shadow: none;
    background-color: #004455ff;
}
.list-inline li
{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
.list-inline li a
{
    position: relative;
}
.btn
{
    padding: 11px 10px;
}
.btn.btn-default
{
    background-color: #fff;
    
}
.chat-icon
{
    width: 24px;
    height: 24px;
}

.btn.btn-info,.btn.btn-info:hover,.btn.btn-info:focus
{
    background-color: #3771c8ff;
    border:1px #3771c8ff solid; 
    color: #fff;
    
}
.notifiable
{
    position: relative;
}
.notifications
{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;

}
.notifications .inner
{
    height: 300px;
    overflow: auto;
}
.notification
{
    background-color: #ff2a2aff;
    position: absolute;
    right: -15px;
    top: -10px;
    z-index: 9999;
    padding: 5px 10px;
    color: #fff;
    font-size: 11px;
    border-radius: 10px;

}

.notification-item .icon
{
    width: 25px;
    vertical-align: top;
    display: inline-block;
}
.notification-item p
{
    width: 70%;
    display: inline-block;
    margin: 0px;
}
.notification-item
{
    padding: 15px;
    margin: 15px;
    background-color: #fff;;
    border-radius: 5px;
    margin-bottom: 2px;
   

}
.btn.btn-primary    
{
    color:#fff;
}
.btn.btn-gray    
{
    background-color:#e6e6e6ff;
}
.btn-rounded
{
    border-radius: 25px !important;
}
.btn-rounded2
{
    border-radius: 25px !important;
    padding: 7px 7px !important;
}
.blue
{
    background-color: #aaeeffff;
}


.white
{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.gray
{
    background-color: #f2f2f2ff;
}
.dark
{
    color: #fff;
    background-color: #5f8dd3ff;
}


.btn.btn-danger,.btn.btn-danger:hover,.btn.btn-danger:focus,.btn.btn-danger:active
{
    background-color: #ff2a2aff;
    color:#fff;
}

.btn.btn-info,.btn.btn-info:hover,.btn.btn-info:focus,.btn.btn-info:active
{
    color:#fff;
    background-color: #37abc8ff;
    border: 1px solid #37abc8ff;
    border-radius: 10px;
}

.btn.btn-green
{
    background-color: #008033ff;
    border: 1px solid #008033ff;
    color:#fff;
    border-radius: 10px;
}


.btn.btn-blue:hover,.btn.btn-blue:focus,.btn.btn-blue:active,
.btn.btn-green:hover,.btn.btn-green:focus,.btn.btn-green:active,
.btn.btn-info:hover,.btn.btn-info:focus,.btn.btn-info:active,
.btn.btn-danger:hover,.btn.btn-danger:focus,.btn.btn-danger:active
{
    color:#fff;
}


.nav.nav-list li
{
    display: block;
    float:none; 
    width: 100%;
    padding-left: 10px;
}

.nav.nav-list li a
{
    color: #fff;
}

.logo.left
{
    margin: 5px;
}

.padding-45
{
    padding-top: 58px;
    padding-bottom: 58px;
}

.list-inline li  a,
.list-inline li  a:hover,
.list-inline li  a:focus
{
    color:#333;
}

.slick-next,.slick-prev
{
    width: 25px;
    height: 45px;
}
.slick-next::before {
    background: url('../img/next.svg');
    background-size: 100%;
    content: ' ' !important;
    width: 25px;
    height: 45px;
    display: block;
    
}

.slick-prev::before {
    background: url('../img/prev.svg') ;
    background-size: 100%;
    content: '  ' !important;
    width: 25px;
    height: 45px;
    display: block;
}

.one-time 
{
    width: 80%;
    margin: 0 auto;
    margin-top: 45px;
}
.one-time .item
{
    width: 150px;
  
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 10px;

}
.one-time .item .icon
{
    width: 60%;
    display: block;
    margin: 0 auto;
}


@media (max-width: 471px) {

    .comment-item .left
    {
        display: inline-block;
        vertical-align: text-top;
        width: 100%;
        padding:10px;
    }
    .comment-item .right
    {
        display: inline-block;
        vertical-align: text-top;
    
        width: 100%;
    }
    .comment-item .text
    {
        padding: 10px;
        padding-top: 10px;
        padding-left: 25px;
        font-size: 12px;
        display: inline-block;
        vertical-align:top;
    }

    .comment-item .right .separator
        {
            height:10px;
            width: 90%;
            border-radius: 10px;
            display: block;
            margin:0 auto;
            vertical-align: baseline;
            border:0px;
            background-color: #ccc;
        }

    .logo {
        margin: 0 auto;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .search-form
    {
        margin-bottom: 10px;
    }
    .search-form .form-control
    {
        background-color: #004455ff;
        border: 0px;
        width: 60%;
        display: inline-block;
        color: rgb(255, 255, 255);
    }
    .search-form2 .form-control
    {
        background-color: #fff;
        border: 0px;
        width:60%;
        display: inline-block;
        
    }
    .list-inline li 
    {
        padding-top: 5px;
    }
    .notifications
    {
        position: absolute;
        left: -150px;
        top: 55px;
        width: 290px;
        z-index: 9999;

    }
   }
   @media (min-width: 488px) {
    .comment-item .left
    {
        display: inline-block;
        vertical-align: text-top;
        width: 70%;
        padding:10px;
    }
    .comment-item .right
    {
        display: inline-block;
        vertical-align: text-top;
    
      
    }
    .comment-item .text
    {
        padding: 10px;
        padding-top: 25px;
        font-size: 12px;
        display: inline-block;
        vertical-align:top;
    }

    .comment-item .right .separator
        {
            height:100px;
            width: 10px;
            border-radius: 10px;
            display: inline-block;
            vertical-align: top;
            border:0px;
            background-color: #ccc;
        }
    .logo {
        margin: 0 auto;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .search-form
    {
        margin-bottom: 10px;
    }
    .list-inline li 
    {
        padding-top: 5px;
    }
    .notifications
    {
        position: absolute;
        left: 0ox;
        top: 55px;
        width: 290px;
        z-index: 9999;

    }
    .search-form .form-control
    {
        background-color: #004455ff;
        border: 0px;
        width: 60%;
        display: inline-block;
        color: rgb(255, 255, 255);
    }
    .search-form2 .form-control
    {
        background-color: #fff;
        border: 0px;
        width: 95%;
        display: inline-block;
       
    }
    .left .search-form2 .form-control
    {
        background-color: #fff;
        border: 0px;
        width: 65%;
        display: inline-block;
       
    }
   }

   @media (min-width: 900px) {

    .comment-item .left
    {
        display: inline-block;
        vertical-align: text-top;
        width: 82%;
        padding:10px;
    }
    

    .logo {
        margin: 0 auto;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .list-inline li 
    {
        padding-top: 0px;
    }
 
    .search-form .form-control
    {
        background-color: #004455ff;
        border: 0px;
        width: 80%;
        color: rgb(255, 255, 255);
    }
    .notifications
    {
        position: absolute;
        left: 0ox;
        top: 55px;
        width: 290px;
        z-index: 9999;

    }
   }
    .products .item 
    {
        background-color: #fff;
        padding: 10px;
        margin: 0px !important;
        margin-bottom: 10px !important;
    }

    .products .product 
    {
        padding-right: 0px !important;
    }
    .padding-right
    {
        padding-right: 15px;
    }
    .products .item a
    {
        
        margin-bottom: 5px;
    }
    .products .item  .background
    { 
        background-color: #e6e6e6ff;

        padding: 40% 50%;
        position: relative;
    }
    .products .item:nth-child(even) .background
    {
        background-color: #ccccccff;
        
    }
    .title
    {
        font-weight: bold;
    }
    .separator
    {
        border-bottom: 1px solid #ccc;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.icon
{
  width: 40px !important;
  margin-right: 5px;
}

.icon2
{
    width: 25px !important;
    margin-right: 5px;
}


.icon3
{
    width: 10px !important;
    margin-right: 5px;
}

.footer-extra .list-inline li
{
    margin-right: 10px;
}
.footer-extra .list-inline li a span 
{
    padding: 10px;
    display: inline-block;
}
.padding-25
{
    padding-top: 10px;
}
.padding-10
{
    padding: 10px;
}

.rounded-5
{
    border-radius: 5px;
}

.selector li
{
    margin-bottom: 10px;
}

.category_info
{
    background-color: #004455ff;
    padding: 10px;
    border-radius: 10px;

    color:#fff;
}
.category_info .icon
{
    width: 42px;
}

.btn-info,.btn-white
{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    color:#333;
}
.btn-info span,.btn-white span
{
    margin-left: 10px;
    font-weight: bold;
}
.btn-info .icon,.btn-white .icon
{
    width: 42px;
}
.btn-info .action,.btn-white .action
{
    position: absolute;
    top: 40%;
    right:10px;
    width: 16px;
}
.rating .icon
{
    width: 16px !important;
    height: 16px !important;
}
.btn-white .left
{
    width: 60%;
    display: inline-block;
}
.btn-white .avatar
{
    position: relative;
    background-color: #ccc;
    padding: 12% 12%;
    display: inline-block;
    border-radius: 25px;
}

.btn-white .avatar .icon
{
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 45px !important;
    height: 45px !important;
}

.rating-comment .btn-white
{
 width: 250px;
}

.category_info_deta
{
    width: 75px;
    height:  75px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #3771c8ff;
    color: #fff;
    text-align: center;
}
.category_info_deta .icon
{
    margin: 0 auto;
    display: block;
    width: 60%;
}
.article_details .left
{
    width: 75px;
}
.article_details .left, .article_details .right
{
    display: inline-block;
    vertical-align: top;
}
.article_details .right
{
    padding: 10px;
}

.article_details .right .title
{
    font-size: 1.5em;
}

.one-time2 
{
    width: 100%;
    margin: 0 auto;

}
.one-time2 .item
{
    width: 100%;
    height:  400px;
    display: block;
    padding: 10px;
  
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    color: #333;
}
.one-time2 .item .icon
{
  height: 100%;
  display: block;
  margin:  0 auto;
}

.one-time2 .slick-prev,.one-time2 .slick-next
{
    
    width: 35px;
    height: 65px;
    background-color:#fff;
    z-index: 9999;
    padding: 10px;

    
}
.one-time2 .slick-prev:hover,.one-time2 .slick-next:hover
{
    background-color:#fff;
}
.one-time2 .slick-prev::before,.one-time2 .slick-next::before
{
    padding: 10px;
    width: 15px;
    height: 45px;
 
    display: inline-block;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;

}

.comment-form .form-group 
{
    width: 80%;

}
.comment-form .form-group  .form-control
{
    width: 97%;
    border:0px;
    border-radius: 10px;
    background-color: #ecececff;
}
.comment-item 
{
    margin: 10px;
    border-radius: 10px;
    background-color: #ecececff;
}
.comment-item .icon
{
    display: inline-block;
    vertical-align: top;
    width: 36px;
}
.comment-item .rating .icon
{
    width: 12px !important;
    height: 12px !important;
    vertical-align: middle;

}


.comment-item .text .title
{
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
}


.comment-item .report a 
{
    color:#333 !important;
    font-size: 12px;
}



.text-align-right
{
    text-align: right;
}

.category-listing a
{
    color: #333 !important;
}
.category-listing:nth-child(even)
{
    background-color: #ecececff;
}
.page-details
{
    background-color: #ecececff;
}

.registration
{
    background-color: #fff;
}

.registration .btn .icon
{
    width: 16px;
}

.registration .btn.btn-info
{
    background-color: #80e5ffff;
    border:1px #80e5ffff solid;
}
.login
{
    padding: 25px;
    width: 418px !important;
    margin: 0 auto;
}

.login .btn
{
    color:#fff;
}


.registration
{
    padding: 1px;
}
.registration .form-control
{
    border:1px solid  #ecececff;
    background-color: #ecececff;
    outline: 0px;
}
.registration .form-control:focus
{
    outline: 0px;
    box-shadow: none;
}
.login .nav.nav-tabs li
{ 

    width: 50%;
}

.login .nav.nav-tabs li a
{ 
    background-color: #ecececff;
   
}

.login .nav.nav-tabs li a.active
{
    background-color: #fff;
}
.login .nav.nav-tabs li a
{
    padding: 15px;;
    text-decoration: none;
    display: block;
    color:#333;
    width: 100%;
}
.login .nav.nav-tabs li a:hover
{
   color:#333;
}
.login a
{
    color:#000;
}
.bold
{
    font-weight: bold;
}
.header-search
{
    background: #214478ff;
    color: #fff;
}
.btn.btn-border
{
    display: inline-block;
    width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #214478ff;
}
.btn.btn-border-danger
{
    display: inline-block;
    width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #ff2a2aff;
}

.btn.btn-border:hover,.btn.btn-border:focus
{
    display: inline-block;
    width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    color:#fff !important;
    background-color: #214478ff;
    border:1px solid #214478ff;
}
.btn.btn-border-danger:hover,.btn.btn-border-danger:focus
{
    display: inline-block;
    width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    color:#fff !important;
    background-color: #ff2a2aff;
    border:1px solid #ff2a2aff;
}

.blue-dark
{
    background-color: #214478ff;
    border:1px solid #214478ff;
    color:#fff;
}

.btn-rounded3
{
    padding: 5px 35px !important;
    border-radius: 25px;
}
body
{
    counter-reset: num;
    background-color: rgb(242, 242, 242);
}

  .chapter.active
  {
    background-color: #004455ff;
    color:#fff;
  }
  .chapter
  {
      border-radius: 10px;
      margin-bottom: 10px;
      cursor: pointer;
  }
  .chapter::before{
    counter-increment: num;
    content: counter(num);
    background-color: #3771c8ff;
    color:#fff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
    padding: 1px;
    text-align: center;
  }
.chapter .item
{
    width: 92%;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.chapter .right
{
    display: inline-block;
    width: 25px;
}
.chapter .right .icon
{
    width: 16px !important; 
}

.actions 
{
    width: 60%;
    margin: 0 auto;
}
.actions .icon
{
    width: 16px !important; 
}

.actions .left,.actions .right
{
    display: inline-block;
    vertical-align: top;

}
.actions .left
{
    width: 80%;
}
.actions .right
{
    text-align: right;
}


.b-scrolling-helper{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:absolute;left:0;height:50px;cursor:pointer}
.b-scrolling-helper.b-scrolling-helper--bottom{background:-webkit-gradient(linear,left bottom,left top,from(#f6f8fd),color-stop(74%,rgba(246,248,253,.74)),to(rgba(246,248,253,0)));background:-webkit-linear-gradient(bottom,#f6f8fd,rgba(246,248,253,.74) 74%,rgba(246,248,253,0));background:-o-linear-gradient(bottom,#f6f8fd 0,rgba(246,248,253,.74) 74%,rgba(246,248,253,0) 100%);background:linear-gradient(0deg,#f6f8fd 0,rgba(246,248,253,.74) 74%,rgba(246,248,253,0));bottom:0}
.b-scrolling-helper.b-scrolling-helper--top{top:0;background:-webkit-gradient(linear,left top,left bottom,from(#f6f8fd),color-stop(74%,rgba(246,248,253,.74)),to(rgba(246,248,253,0)));background:-webkit-linear-gradient(top,#f6f8fd,rgba(246,248,253,.74) 74%,rgba(246,248,253,0));background:-o-linear-gradient(top,#f6f8fd 0,rgba(246,248,253,.74) 74%,rgba(246,248,253,0) 100%);background:linear-gradient(180deg,#f6f8fd 0,rgba(246,248,253,.74) 74%,rgba(246,248,253,0))}
.b-categories-item-icon{-webkit-filter:sepia(100) hue-rotate(60deg) saturate(170%) brightness(95%) contrast(.9);filter:sepia(100) hue-rotate(60deg) saturate(170%) brightness(95%) contrast(.9); float:left;}
.b-categories-item-icon__image{width:32px;height:32px}
.b-categories-item-icon__image__inner{width:52px;height:52px;-webkit-transform:scale(.615);-ms-transform:scale(.615);transform:scale(.615)}
.b-list-category-stack__item{display:block;font-size:14px;padding-top:7px;padding-bottom:7px;color:#3db83a}
.b-list-category-stack__item-icon{display:inline-block;margin-right:5px;vertical-align:middle;color:#3db83a}
.b-list-category-stack__item-link:hover{background-color:#f4f3ee}
.b-list-category-stack__item-link:active,
.b-list-category-stack__item-link:hover,
.b-list-category-stack__item-link:visited
{text-decoration:none}
.b-list-category-stack__item-subcategories{border-top:2px solid #e8f8df;border-bottom:2px solid #e8f8df;background-color:#fff}

.icon-category-agriculture {
  background-position: -57px 0px;
  width: 52px;
  height: 52px;
}
.icon-category-animals {
  background-position: -114px -114px;
  width: 52px;
  height: 52px;
}
.icon-category-babies {
  background-position: 0px -57px;
  width: 52px;
  height: 52px;
}
.icon-category-beauty {
  background-position: -57px -57px;
  width: 52px;
  height: 52px;
}
.icon-category-electronics {
  background-position: -114px 0px;
  width: 52px;
  height: 52px;
}
.icon-category-equipment {
  background-position: -114px -57px;
  width: 52px;
  height: 52px;
}
.icon-category-fashion {
  background-position: 0px -114px;
  width: 52px;
  height: 52px;
}
.icon-category-hobbies {
  background-position: -57px -114px;
  width: 52px;
  height: 52px;
}
.icon-category-home {
  background-position: 0px 0px;
  width: 52px;
  height: 52px;
}
.icon-category-jobs {
  background-position: -171px 0px;
  width: 52px;
  height: 52px;
}
.icon-category-jobseekers {
  background-position: -171px -57px;
  width: 52px;
  height: 52px;
}
.icon-category-mobile {
  background-position: -171px -114px;
  width: 52px;
  height: 52px;
}
.icon-category-real-estate {
  background-position: 0px -171px;
  width: 52px;
  height: 52px;
}
.icon-category-repair {
  background-position: -57px -171px;
  width: 52px;
  height: 52px;
}
.icon-category-services {
  background-position: -114px -171px;
  width: 52px;
  height: 52px;
}
.icon-category-vehicles-blue {
  background-position: -171px -171px;
  width: 52px;
  height: 52px;
}
.icon-category-vehicles {
  background-position: -228px 0px;
  width: 52px;
  height: 52px;
}

.b-categories-listing-wrapper{padding:0;height:5000px;max-height:700px;max-height:80vh;position:relative;margin:15px 0}
.b-categories-listing-wrapper--no-margin{margin:0}
.b-categories-listing-outer{position:absolute;height:100%;width:100%;z-index:1}
.b-categories-listing-inner{position:relative;height:100%;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-shadow:2px 2px 4px 0 rgba(0,0,0,.08);box-shadow:2px 2px 4px 0 rgba(0,0,0,.08);background-color:#fff}
.b-categories-listing-inner.b-categories-listing-inner--small-box-shadow{-webkit-box-shadow:1px 1px 4px rgba(80,114,125,.4);box-shadow:1px 1px 4px rgba(80,114,125,.4)}
.b-categories-listing__childes{width:auto;height:100%;background-color:#fff;border-left:1px solid #3db83a}
.b-categories-listing__parents{height:100%;overflow:hidden;width:100%;-webkit-box-flex:0;-webkit-flex:0 0 305px;-ms-flex:0 0 305px;flex:0 0 305px}
.b-categories-listing__item--active{cursor:pointer}
.b-categories-listing__item{height:100%;overflow-x:hidden;overflow-y:auto;min-width:100%;position:relative}
.b-categories-listing__item .b-categories-listing__item__inner{width:100%;height:100%;overflow-y:scroll;-webkit-box-sizing:content-box;box-sizing:initial}
.b-categories-listing--fixed-background{z-index:11;position:fixed;left:0;top:0;right:0;bottom:0;width:100%;height:100%;background-color:rgba(0,0,0,.25)}
.b-categories-open-triangle{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #fff;position:absolute;top:0;bottom:0;margin:auto 0 auto 5px}
.b-categories-open-button-active .b-categories-open-triangle{border-bottom:6px solid #fff;border-top:6px solid transparent;top:-3px}.b-categories-item{display:block;font-size:14px;padding:7px 10px;outline:none!important;text-decoration:none!important}
.b-categories-item .b-static-image{margin-bottom:5px}
.b-categories-item .b-static-image img{width:100%;height:100%}
.b-categories-item:hover{background-color:#eef2f4}
.b-categories-item.b-categories-item--active{background-color:#D3DBDE;}
.b-categories-item.b-categories-item--active .b-category-parent-name,.b-categories-item.b-categories-item--active .b-list-category-stack__item-link--found{color:#303a4b}
.b-categories-item[disabled]{cursor:default!important}
.b-categories-item[disabled] .b-category-parent-name,.b-categories-item[disabled] .b-list-category-stack__item-link--found{color:#99b2bf!important}
.b-categories-item-focused{background-color:#f6f8fd}
.b-category-parent-name{font-weight:400;font-size:15px;white-space:nowrap;width:100%}
.b-categories-item--inner{padding:0 0 0 10px;color:grey;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.b-categories-item--inner,.b-list-category-stack__item-link--found{font-weight:300;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.b-list-category-stack__item-link--found{font-size:13px;color:#838383;width:100%;min-height:16px}
.b-list-category-stack__item-link--found.b-black{color:#464b4f}
.b-categories-item--outer{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;height:32px}
.b-categories-blocks-list,.b-categories-item--outer{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.b-categories-blocks-list{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;position:relative;list-style-type:none;background-color:rgba(238,242,244,.5);padding:1.5px}
.b-categories-block-item--post-ad p{font-weight:700;color:#eb5757;margin-top:1rem}
@media (max-width:480px){.b-categories-block-item--post-ad p{margin-top:3px}}

ul.inline 
{
    padding: 0px;
}

ul.inline li {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

ul.inline li img 
{
    width: 75px;
}

ul.inline li a
{
    display: inline-block;
    vertical-align: top;
    padding: 11px 10px;
    color:#000;
}

.padding-27
{
    padding: 20px 0px;
}

.navigation
{

}

.pull-right
{
    float: right;
}

.favorite
{
    width: 16px;
    position: absolute;
    top:10px;
   
    right: 10px;
}

ul.dark
{
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.border-radius
{
    border-radius: 10px;
}

.details .model
{
    font-size: 12px;
}
.details .year,.details .title
{
    margin-bottom:0px;
}

.details .left,.details .right
{
    float: left;
}

.bids .item
{
    background-color: #cecece;
    color: #000;
    padding: 10px;
}

span.bids
{
    background-color: #cecece;
    padding: 11px 10px;
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
}

.border-6
{
    margin:10px;
    border:1px solid #002fff;
    padding: 10px 25px;
    border-radius: 20px;
    display: inline-block;
}

h3.inline,p.inline{
    display: inline-block;
    vertical-align: baseline;
}

.bold
{
    font-weight: bold;
}


